div{
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 0 auto;
    margin-top:100px;
    transition: margin-top 2s ease-in 0.2s;
}
div:hover{
    margin-top: 400px;  
    background-color: rgba(0, 255, 0, 0.5);
}